@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

Header {
    width: 100%;
    color: dimgray;

}

.content {
    width: 90%;
    color:#070707;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.content h1 {
    font-size: 4rem;
}

.content p {
    margin: 0.5rem 0 2.5rem;
    font-size: 1.5rem;
}

.row {
    margin-top: 1%;
    display: flex;
    justify-content:space-evenly;
}

.writer-col {
    flex-basis: 25%;
    border-radius: 10%;
    margin-bottom: 10px;
    margin-top: 200px;
    position: relative;
    overflow: hidden;
}

.writer-col img{
    width: 100%;
    height: 100%;
    display:block;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover {
    background: rgba(0,0,0,0.7)
}
.layer h2 {
    width: 100%;
    font-weight: 900;
    color: #fff;
    text-align: center;
    font-size: 2rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    Transition: 0.5s;
}
.layer:hover h2 {
    bottom: 85%;
    opacity: 1;
}
.layer p {
    width: 90%;
    font-weight: 500;
    text-align: center;
    color: #fff;
    font-size: 1rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position:absolute;
    opacity: 0;
    Transition: 0.5s;
}
.layer:hover p {
    bottom: 65%;
    opacity: 1;
}